---
layout: layouts/base.njk
---
<section class="legal">
  <div class="padding-global">
    <div class="section-padding">
      <div class="container-small">
        <div class="rich-text">
          <h1>{{ heading }}</h1>
          {% include legalFile %}
        </div>
      </div>
    </div>
  </div>
</section>
