---
title: "Meilensteine 2.0 – fein"
description: "Meilensteine senkrecht, Ansicht fein."
permalink: /entwicklung/meilensteine-2/fein/index.html
konzept: "fein"
---
{% include "sections/vertikal.njk" %}
