---
layout: layouts/legal.njk
title: Datenschutzerklärung – sofort sichtbar
description: Informationen zur Verarbeitung personenbezogener Daten auf sofortsichtbar.de.
permalink: /datenschutzerklarung/index.html
heading: Datenschutzerklärung
legalFile: legal/datenschutz.html
eleventyExcludeFromCollections: true
---
