---
layout: layouts/base.njk
title: Kontakt – sofort sichtbar
description: Termin auswählen oder direkt Kontakt aufnehmen – wir helfen bei Fragen und der Entscheidung.
permalink: /kontakt/index.html
faqContainer: container-medium
eleventyExcludeFromCollections: true
---
{% include "sections/contact-hero.njk" %}
{% include "sections/faq.njk" %}
