---
layout: layouts/base.njk
title: Pricing – sofort sichtbar
description: Flexibel mieten statt teuer kaufen – alle Pakete und der technische Vergleich im Überblick.
permalink: /pricing/index.html
pricingPadding: section-padding section-padding--pricing
eleventyExcludeFromCollections: true
---
{% include "sections/pricing.njk" %}
{% include "sections/pricing-overview.njk" %}
{% include "sections/faq.njk" %}
{% include "sections/support.njk" %}
