---
layout: layouts/base.njk
title: Für Vertriebsleiter – sofort sichtbar
description: Sofort mehr Vertriebskraft für deine Region – fertige digitale Vertriebsstrecken für deine Vertriebseinheiten.
permalink: /vetriebsleiter/index.html
eleventyExcludeFromCollections: true
---
{% include "sections/vl-hero.njk" %}
{% include "sections/vl-problem.njk" %}
{% include "sections/vl-solution.njk" %}
{% include "sections/vl-info.njk" %}
{% set contactData = vertriebsleiter.contact %}
{% include "sections/contact.njk" %}
